<h1>タスク詳細</h1>
<table>
	<thead>
		<tr>
			<th>タスク名</th>
			<th>詳細</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @task.title %></td>
			<td>タスクの詳細</td>
		</tr>
	</tbody>
</table>
<%= link_to '戻る', tasks_path %>
